services:
  # Database Service
  db:
    image: mysql:8.0
    container_name: backend-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: dev_db
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  # (Tùy chọn) Giao diện quản lý DB trên Web
  phpmyadmin:
    image: phpmyadmin
    container_name: backend-phpmyadmin
    restart: always
    ports:
      - "8081:80"
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: root

volumes:
  mysql_data: